{% extends "base.html" %}
{% load static %}

{% block category %}

<div class="collapse navbar-collapse">
    <!-- menus -->
    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="">Home</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="index.html">Magazine</a></li>
                <li><a class="dropdown-item" href="personal.html">Personal</a></li>
                <li><a class="dropdown-item" href="personal-alt.html">Personal Alt</a></li>
                <li><a class="dropdown-item" href="minimal.html">Minimal</a></li>
                <li><a class="dropdown-item" href="classic.html">Classic</a></li>
            </ul>
        </li>
        <!-- Display categories with their blogs -->
        {% for post in blogs_in_category %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'blog_detail' post.blog_slug %}">{{ post.title }}</a>
        </li>
        {% endfor %}
        
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="">Pages</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="">Blog Single</a></li>
                <li><a class="dropdown-item" href="blog-single-alt.html">Blog Single Alt</a></li>
                <li><a class="dropdown-item" href="about.html">About</a></li>
                <li><a class="dropdown-item" href="contact.html">Contact</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
        </li>
    </ul>
</div>

{% endblock category %}

{% block body %}
<!-- hero section -->
<section id="hero">
    <div class="container-xl">
        <div class="row gy-4">
            <div class="col-lg-8">
                
                <!-- Featured post large -->
                {% for post in main_post %}
                <div class="post featured-post-lg">
                    <div class="details clearfix">
                        <a href="{% url 'category' post.category.slug %}" class="category-badge">{{ post.category.name }}</a>
                        <h2 class="post-title"><a href="{% url "blog_detail" post.blog_slug %}">{{post.title}}</a></h2>
                        <ul class="meta list-inline mb-0">
                            <li class="list-inline-item"><a href="">{{post.author}}</a></li>
                            <li class="list-inline-item">{{post.date}}</li>
                        </ul>
                    </div>
                    <a href="{% url "blog_detail" post.blog_slug %}">
                        <div class="thumb rounded">
                            <div class="inner data-bg-image" data-bg-image="{{post.image.url}}"></div>
                        </div>
                    </a>
                </div>
                {% endfor %}

                <!-- Blogs in selected category -->
                <h2>Posts in {{ cat.name }}</h2>
                <ul>
                    {% for post in blogs_in_category %}
                    <li>
                        <a href="{% url 'blog_detail' post.blog_slug %}">
                            <div class="thumb rounded">
                                <img src="{{ post.image.url }}" alt="{{ post.title }}">
                            </div>
                            <div class="details">
                                <h4>{{ post.title }}</h4>
                                <p>{{ post.excerpt }}</p>
                                <small>{{ post.date }}</small>
                            </div>
                        </a>
                    </li>
                    {% empty %}
                    <li>No posts available in this category.</li>
                    {% endfor %}
                </ul>

            </div>

            <div class="col-lg-4">
                <!-- post tabs -->
                <div class="post-tabs rounded bordered">
                    <!-- tab navs -->
                    <ul class="nav nav-tabs nav-pills nav-fill" id="postsTab" role="tablist">
                        <li class="nav-item" role="presentation"><button aria-controls="popular" aria-selected="true" class="nav-link active" data-bs-target="popular" data-bs-toggle="tab" id="popular-tab" role="tab" type="button">Popular</button></li>
                        <li class="nav-item" role="presentation"><button aria-controls="recent" aria-selected="false" class="nav-link" data-bs-target="recent" data-bs-toggle="tab" id="recent-tab" role="tab" type="button">Recent</button></li>
                    </ul>
                    <!-- tab contents -->
                    <div class="tab-content" id="postsTabContent">
                        <!-- loader -->
                        <div class="lds-dual-ring"></div>
                        <!-- popular posts -->
                        <div aria-labelledby="popular-tab" class="tab-pane fade show active" id="popular" role="tabpanel">
                            <!-- post -->
                            {% for post in popular %}
                            <div class="post post-list-sm circle">
                                <div class="thumb circle">
                                    <a href="{% url "blog_detail" post.blog_slug %}">
                                        <div class="inner">
                                            <img src="{{ post.image.url }}" alt="post-title" />
                                        </div>
                                    </a>
                                </div>
                                <div class="details clearfix">
                                    <h6 class="post-title my-0"><a href="{% url "blog_detail" post.blog_slug %}">{{ post.title }}</a></h6>
                                    <ul class="meta list-inline mt-1 mb-0">
                                        <li class="list-inline-item">{{ post.date }}</li>
                                    </ul>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <!-- recent posts -->
                        <div aria-labelledby="recent-tab" class="tab-pane fade" id="recent" role="tabpanel">
                            <!-- post -->
                             {% for post in recent %}
                            <div class="post post-list-sm circle">
                                <div class="thumb circle">
                                    <a href="{% url "blog_detail" post.blog_slug %}">
                                        <div class="inner">
                                            <img src="{{post.image.url}}" alt="post-title" />
                                        </div>
                                    </a>
                                </div>
                                <div class="details clearfix">
                                    <h6 class="post-title my-0"><a href="{% url "blog_detail" post.blog_slug %}">{{post.title}}</a></h6>
                                    <ul class="meta list-inline mt-1 mb-0">
                                        <li class="list-inline-item">{{post.date}}</li>
                                    </ul>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>
{% endblock body %}
